extends layout

block content
  h1 Sign In Page

  form
    div
      input(type="text" name="login" placeholder="Login") 
    div
      input(type="password" name="password" placeholder="Password")
    div
      button(type="submit") Sign In